@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  
  /* background-image: url(./images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-position: right; */
}

.main{
  align-items: center;
  margin-top: 10rem;
}

.bgImage {
  position: fixed;
  right: 10%;
  top: 5%;
  z-index: -1;

  
}

.quote{
  font-size: 32px;
  z-index: 100;
  color: var(--Dark-Blue);
  margin-top: -4rem;
  margin-bottom: 3rem;
 
}


.curve {
  position: fixed;
  bottom: 0%;
}

.second{
  margin-left: 45.3rem;
  position: absolute; 
  display: flex;
  flex-direction: column;
  
  
  
}

.tanya {
  width: 34.3rem;
  border-radius: 1rem;
  height: 34.3rem;
}

.main{
  gap: 0  ;
  margin-bottom: 10rem;
}

.first {
  margin-left: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 39rem;
  margin-top: 9rem;

}

.person {
  font-size: 17px;
  color: var(--Grayish-Blue);
  display: flex;
  gap: 1rem;
}

.person span{
  font-weight: bold;
 color: var(--Dark-Blue);

}

.quoteimg{
  position: absolute;
  top: 25%;
  left: 20%;
  
}

.buttons {
  position: relative;
  
}


.buttons button {
  border: none;
  padding: 1rem;
  background: white;
  /* box-shadow: 0px 3px 5px black; */
  box-shadow: 0 4px 2px -2px gray;
  

  
}

.buttons button:hover {
  background-color: wheat;
  transition: all 1s;
}

.one {
  position: absolute;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  left: 14%;
  padding-right: 1.5rem !important;

  bottom: -1rem;
}

.two {
  position: absolute;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  bottom: -1rem;
  left: 23%;
  padding-left: 1.5rem !important;
}